.container{:style => "background:azure;"}
  %h1{:style => "color: #9d9d9d; text-align: center; border: outset;background: #a30c0c;border-color: #3333;"} ADD A NEW MOVIE
  = form_for :movie, url: movies_path  do |f|
    %div{:style => "background: white"}
      .form-group
        %label.col-md-2{:for => "inputEmail3"}
          Title
        .col-md-10
          = f.text_field :title, class: "form-control", required: true
      %br/
      %br/
      - if view == 'automatic'
        = hidden_field_tag 'view', view
      - else
        = view
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            Poster
          .col-md-10
            = f.file_field :image, class: "form-control", required: true
        %br/
        %br/
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            genre
          .col-md-10
            = f.text_field :genre, class: "form-control", required: true
        %br/
        %br/
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            Plot
          .col-md-10
            = f.text_area :plot, class: "form-control", required: true
        %br/
        %br/
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            Cast
          .col-md-10
            = f.text_area :cast, class: "form-control", required: true
        %br/
        %br/
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            year
          .col-md-10
            = f.date_field :year, as: :year,style: "width:79% !important;"
        %br/
        %br/
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            Rating
          .col-md-10
            = f.number_field :rating, class: "form-control", required: true
        %br/
        %br/
        .form-group
          %label.col-md-2{:for => "inputEmail3"}
            Website
          .col-md-10
            = f.text_field :web, class: "form-control", required: true
        %br/
        %br/
      .form-group
        .col-md-offset-2.col-md-10
          = f.submit "Add new Moviews",class: "btn btn-success btn-block",style: "margin-top: 20px;"
          %p.notice= notice
          %p.alert= alert
