
	<div class="container-fluid" onload="loadImage()", style="border: outset;border-color: #3333;background: azure" ">

		<div class="row">

			<div class="col-md-6" style="padding: 100px">
				<%if @movie.image_url.empty? %>
				<img src="https://www.cityyear.org/sites/default/files/Locations/DC/photo%20not%20available.jpg" width=80%, height=408px/>
				<%else%>
				<img src="<%= @movie.image_url%>" width=80%, height=408px alt="Image not found" onerror="this.src='https://www.cityyear.org/sites/default/files/Locations/DC/photo%20not%20available.jpg';"/>
				<%end%>
			</div>
			
			<div class="col-md-6" style="font-style: oblique;font-family: verdana; padding: 100px; height: 470px;">
				<div class="row">
					<h1 style="font-size: 59px; font-weight: 800"><%= @movie.title %><i style="font-size: 25px">(<%= @movie.year %>)</i>
					<i style="float: right;font-size: 10px">
					<%=image_tag "rating.png"%></i></h1>
				</div>
				<div>
					<i  style=" float: right; padding-right: 33px; font-size: 22px">
					<%= @movie.rating %>/10
					</i>
				</div>
				<h2 style="font-size: 15px;"><b><i>Genre:</i></b><%= @movie.genre %></h2>
				<h2 style="font-weight: 600;">Plot:<h2><h4 style="font-size: 12px"><%= @movie.plot %></h4>
				<h2 style="font-weight: 600;">Cast:<h4><%= @movie.cast %></h4>	
						
			</div>
			
		</div>
		<div class="col-md-6" style="padding: 100px">
				<div class="col-md-12" style="border: outset; border-color: #3333; height: 303px;    width: 595px;margin-bottom: 29px;border-radius: 14px;background: #333;overflow:auto;">
				<table class="table" style="color: aliceblue;">
					<thead><tr><th>TOP 10 LIST OF <%= @movie.genre%></th></tr></thead>
				<tbody>
			      <tr>
			        <th>Name</th>
			        <th>Genre</th>
			        <th>Rating</th>
			      </tr>
			    </tbody>
			   <% @movie_with_same_genre.each do |genre| %>
			   	<tbody>
			      <tr>
			        <td>
			        	<a href=<%=movie_path(genre)%> style="color: aliceblue;text-decoration: none;font-family: verdana sans-serif;font-weight: 800;"> <%=genre.title%></a>
			        </td>
			        <td><%=genre.genre%></td>
			        <td><%=genre.rating%>/10</td>
			      </tr>	
			 	 </tbody>
			   	<%end%>
			</table>
			</div>
			</div>
			<%if @movie.comments.empty? %>
		<%else%>
		<div class="col-md-6" style="padding: 100px">
			<div style="border: outset; border-color: #3333; height: 303px;width: 595px;margin-bottom: 29px;border-radius: 14px;overflow: hidden;">	
				
				<h2>Comments</h2>
				<% @movie.comments.order('created_at DESC').each do |comment| %>
				 <div class="col-md-3">
				 	<%if comment.user.image_url.empty? %>
				 	<img src="http://wfarm2.dataknet.com/static/resources/icons/set108/b5cdab07.png" style="width: 94px">
					<%else%>
					<img src="<%=comment.user.image_url%>" style="width: 94px", onerror="this.src='http://wfarm2.dataknet.com/static/resources/icons/set108/b5cdab07.png'";>
				   
				   	<%end%>
				   </div>
				   <div class="row">
				    <i><b><%=comment.user.email %></b></i>::
				    <%= comment.review %>

				  </div><br>	
				<% end %>
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="float: right">Browse More</button>
			</div>
		</div>
			<%end%>
			

			<div class="container">
  			
  			<div class="modal fade" id="myModal" role="dialog">
  				<div class="modal-dialog">
  					<div class="modal-content">
  					 <div class="modal-header">
  					 	<button type="button" class="close" data-dismiss="modal">&times;</button>
  					 	<h4 class="modal-title">Modal Header</h4>
  					 	</div>
  					 	<div class="modal-body"><p><h2>Comments</h2>
				<% @movie.comments.each do |comment| %>
				  <p>
				    <strong>Commenter:</strong><i style="    width: 111px;">
				    <%=comment.user.email %></i>
				  </p>
				 
				  <p>
				    <strong>Comment:</strong>
				    <%= comment.review %>
				  </p>
				<% end %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
			
				<div class="form-group">
					<%if user_signed_in? %>
						<%= form_for([@movie, @movie.comments.build]) do |f| %>
						<div class="container-fluid" style="padding-left: 0px;">
						<div class="row" style="padding-left: 100px;">	
						 <div class="col-md-1" style="padding-right: 0px;width: 108px;">	
						 <%if current_user.image_url.empty?%>
						 <img src="http://wfarm2.dataknet.com/static/resources/icons/set108/b5cdab07.png" style="width: 94px">
						 <%else%>						 
					    <%=image_tag (current_user.image_url),width: "94px", height:"89px"%>
					    <%end%></div>
					    <div class="col-md-2" style="padding-left: 0px;width: 255px;height: 87px;padding-right: 0px;">
							<textarea class="form-control" rows="5" id="comment" style="height: 100%; width: 100%"></textarea>
							<br>
						</div>
						 <div class="col-md-1"> 
					  	
					  		<button class="btn btn-primary">ADD REVIEW</button>
					 </div>
					<% end %>
					<%else%>
						<%= form_for :come, url: new_user_session_path do |f| %>
						 <div class="container-fluid" style="padding-left: 0px;">
						 	<div class="row" style="padding-left: 100px;">
								<div class="col-md-1" style="padding-right: 0px;width: 108px;"> 		 
							    
							    <img src="http://wfarm2.dataknet.com/static/resources/icons/set108/b5cdab07.png" style="width: 94px">
							    </div>
							    <div class="col-md-2" style="padding-left: 0px;width: 255px;height: 87px;padding-right: 0px;">
							    	 <textarea class="form-control" rows="5" id="comment" style="height: 100%; width: 100%"></textarea>
							    	 <br>
							  	</div>
						 
							  	<div class="col-md-1">
							   
							    <button class="btn btn-primary">You need to sign in first</button>
							 	</div>
							 </div>
						 </div>

						<%end%>
					<%end%>
				</div>
	
				
				
			</div>
			
		</div>
			</div>

